body {
    font-family: 'Nunito', serif !important;
}
  
table {
    font-family: 'Nunito', serif !important;
}
  
h4 {
    font-weight: 300!important;
    margin-bottom: 24px;
    text-align: center;
}
  
p {
    font-weight: 300;
}
  
button {
    border-radius: 20px!important;
}
  
.icon {
    position: relative;
    padding: 12px 0px;
}
  
.item-center {
    margin: 0 auto;
}
  
.btn-primary {
    background-color: #e5dafc!important;
    color: #53417b !important;
    border-color: #e5dafc!important;
    &:active {
      background-color: #8a7aae!important;
    }
    &:focus {
      background-color: #8a7aae!important;
    }
}

.btn-cancel {
    background-color: white!important;
    color: #53417b !important;
    border-color: #53417b!important;
    &:active {
      background-color: silver!important;
    }
    &:focus {
      background-color: silver!important;
    }
}
  
.btn-secondary {
    background-color: #daeeef;
    border-color: #daeeef!important;
    color: #2f524b;
}

.scroller {
    overflow-y: scroll;
    scrollbar-color: #408374 #eeeeee;
    scrollbar-width: thin;
}  
.scroller::-webkit-scrollbar {
    width: 5px;
}
.scroller::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px #eeeeee; 
    border-radius: 10px;
}
.scroller::-webkit-scrollbar-thumb {
    background: #408374; 
    border-radius: 10px;
}
.scroller::-webkit-scrollbar-thumb:hover {
    background: #408374; 
}
.slide-fade-enter-active {
    transition: all .4s ease;
}
.slide-fade-leave-active {
    transition: all .1s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}
.slide-fade-enter, .slide-fade-leave-to
    /* .slide-fade-leave-active below version 2.1.8 */ {
    transform: translateY(-50px);
    opacity: .2;
}
